@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Fjalla+One');
* {margin:0;padding:0;box-sizing:border-box;}
body{
	font-family: 'Crimson Text', san-serif;
	font-size: 20px;
	color: #000;
	line-height: 1.3;
}
section {
	padding:5em 0;
}
header {
	background-color: #35A67C;
}
h1, h2	{
	color:#000000;
	font-family: 'Fjalla One', sans-serif;
	font-size: 50px;


}
nav {
	background-color:#aaaaaa;
	font-family: Arial, sans-serif;
	font-size: 1.6em;
	width:100%;
	height: 77px;
}
nav a {
	text-decoration: none;
	color:#000000;
	display: inline-block;
	padding:18px;
	float:right;
	
}

.clearfix:after {
	visibility: hidden;
	display: in-line block;
	content: " ";
	clear:both;
	height: 0;
	font-size: 0;
}
a:hover { 
    background-color: #ffb6c1;
}
ul, ol {
	padding-left:1.25em;
}
footer {
	background-color: #EB4492;
	padding: 1em 0;
	text-align: center;
}
#intro {
	background:url(./Images/background.jpg);
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#intro div {
	background-color:#35a67c;
	display: inline-block;
	padding: 2em;
	margin-left: 2em;
	border-radius: .25em;
	box-shadow: 2px 2px 4px rgba(0,0,0,.5);
	color: #fff;
	font-size: 1.25em;

}
div {
	clear:left;
}

.image1
{
	float:left;
}
.row:after {
content:"";
display:table;
clear: both;
}
#about, #poems {
	float: left;
	width: 50%;
	padding: 10px;
}
#about {
	background-color:#F6EBCB;
}

#poems {
	background-color:#E1F5C4;
}